<!DOCTYPE html>
<html>
<head>
    <title>Quest Form for Royal Messengers</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <h1>Quest Pages</h1>
    <h2>Quest (<%= quests[0].questId %>): <%= quests[0].title %></h2>
    <ul>
    <% for(var i = 0; i < questPages.length; i++) { %>
        <li>
            Quest Description: <%= quests[i].description %>
            Quest Page: <%= quests[i].page %>
        </li>
    <% } %>
    </ul>
</div>

<script>
</script>
</body>

</html>
