<!DOCTYPE html>
<html>
<head>
    <title>Quest Form for Royal Messengers</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<h3><a href="/quests">Home</a></h3>
<div class="container">
    <h2><a href="https://getemoji.com/" target="_blank">Helpful Link for Emoji Copying</a></h2>
    <form class="quest-form" action="/quests" method="POST">
        <label for="name">Password</label>
        <input id="password" maxlength="80" name="password" size="100" type="text" /> <br/>

        <label for="name">Quest Number</label>
        <input id="questId" maxlength="80" name="questId" size="100" type="text" /> <br/>

        <label for="name">Quest Title</label>
        <input id="title" maxlength="80" name="title" size="100" type="text" /> <br/>

        <label for="name">Page Description</label>
        <input id="description" name="description" size="100" type="text" /> <br/>

        <div class="theBox">
            <label for="name">End Image Url</label>
            <input id="endImage" name="endImage" size="100" type="text" /> <br/>
            <h3>OR!</h3>
            <hr/>
            <label for="name">Option 1 Emoji</label>
            <input id="option1" name="option1" size="20" type="text" /> <br/>
            <label for="name">Option 1 Page #</label>
            <input id="option1Page" name="option1Page" size="20" type="text" /> <br/>
            <label for="name">Option 1 Text</label>
            <input id="option1Text" name="option1Text" size="100" type="text" /> <br/>
            <label for="name">Option 2 Emoji</label>
            <input id="option2" name="option2" size="20" type="text" /> <br/>
            <label for="name">Option 2 Page #</label>
            <input id="option2Page" name="option2Page" size="20" type="text" /> <br/>
            <label for="name">Option 2 Text</label>
            <input id="option2Text" name="option2Text" size="100" type="text" /> <br/>
        </div>

        <input type="submit" name="submit" value="Submit" />
    </form>
</div>

<script>
</script>
</body>

</html>
