<!DOCTYPE html>
<html>
<head>
    <title>Uh oh!</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <h1>Quest Did Not Save</h1>
    <h2><a href="/quests">Back to Quests Home</a></h2>
</div>

<script>
</script>
</body>

</html>
